
body {
    padding: 20px;
}

.main {
    width: 70%;
    margin: auto;
}
.account {
    /* border: 1px solid #ccc; */
    padding: 15px;
    margin-bottom: 10px;
    width: 45%;
}

.header-banner, .navigation {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.card-title {
    margin-bottom: 0 !important;
}

.sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.btext {
    padding: 5px 0;
}

.credit-cards {
    margin-top: 20px;
}

hr {
    margin: 0.5rem 0 !important;
}

.ov-subcontainer {
    display: flex;
    flex-direction: row;
}