
body {
    padding: 20px;
}
.account {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
}

.header-banner, .navigation {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}